<a href="https://colab.research.google.com/github/Ziperonnn/Take-Home-Challenge-n-2/blob/main/TakeHomeChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Take Home Challenge n°2 :

In [2]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'take-home-challenge-n2' # Project ID inserted based on the query results selected to explore
location = 'US' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

In [15]:
# @title Print the query for : **Materialise a staging table from the raw table “transactions” that only selects the last three months of data from this raw table**

job = client.get_job('bquxjob_16969aa5_184dd33c568') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT *
FROM  `bigquery-public-data.crypto_bitcoin_cash.transactions`
# Selection des trois derniers mois
WHERE DATE(block_timestamp_month) BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH) AND CURRENT_DATE()
# We arrange the data to see first date we have
ORDER BY block_timestamp_month
LIMIT 20

In [ ]:
# @title Print the query for : **Materialise a data mart table that gives the current balance for all addresses and exclude addresses that had at least one transaction on Coinbase.**

job = client.get_job('bquxjob_593d7ce5_184dd200c33') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT
  ANY_VALUE(o.addresses) as addresses,
  SUM(o.value) as Current_Balance
FROM  `bigquery-public-data.crypto_bitcoin_cash.transactions`, UNNEST(outputs) as o

# Selection des trois derniers mois
WHERE DATE(block_timestamp_month) BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH) AND CURRENT_DATE()

# Selection des transactions qui ne sont pas faite sur CoinBase
AND is_coinbase = false

# Regroupe les différents addresses bitcoin cash ensemble
GROUP BY TO_JSON_STRING(o.addresses)

In [4]:
# @title Set the Query into a DataFrame

results = job.to_dataframe()

SELECT
  ANY_VALUE(o.addresses) as addresses,
  SUM(o.value) as Current_Balance
FROM  `bigquery-public-data.crypto_bitcoin_cash.transactions`, UNNEST(outputs) as o

# Selection des trois derniers mois
WHERE DATE(block_timestamp_month) BETWEEN DATE_SUB(CURRENT_DATE(), INTERVAL 3 MONTH) AND CURRENT_DATE()

# Selection des transactions qui ne sont pas faite sur CoinBase
AND is_coinbase = false

# Regroupe les différents addresses bitcoin cash ensemble
GROUP BY TO_JSON_STRING(o.addresses)